.header {
    background: $off-black;
    color: rgb(255, 255, 255);
    margin-bottom: $m-size;
    padding: $m-size 0;
    text-align: center;
}

//BEM block element modifier
.header__tile {
    font-size: $l-size;
    margin:0;
}

.header__subtitle  {
    color: $off-white;
    font-size: $m-size;
    font-weight: 400;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }

}